@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

body {
  font-family: Comfortaa;
  width: 300px;
  background-color: #ededed;
  margin:0;
  padding: 0;
}

textarea{
  width: 100%;
}

#interval{
  width: 120px;
  height: 30px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}